<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="false"
         stopOnError="true"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
        >
    <testsuites>
        <testsuite name="statemachine">
            <directory>./src/Tests/</directory>
        </testsuite>
    </testsuites>


    <filter>

        <blacklist>
            <file>vendor</file>
        </blacklist>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
                <directory suffix=".php">src/Tests</directory>
            </exclude>
        </whitelist>

    </filter>
</phpunit>